/* Fonts */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* ------------------------------- Title Section ---------------------------- */

#title{
  background-color: #ff4c68;
  text-align: left;
}


.big-heading{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
  color:#fff;
}


.container-fluid{
  padding: 3% 15% 7%;
}

 /* -------------------------------Navigation Bar ---------------------------*/

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size:2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


/* -------------------------------Download Button ---------------------------*/


.download-button{
  margin: 5% 3% 5% 0;
  font-size: 1.5rem;
}


/* -------------------------------Title Image ---------------------------*/


.title-image{
  width:20%;
  transform:rotate(25deg);
  position: absolute;
  right:25%;
}


  /* -------------------------------- Features Section --------------------------- */


  #features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
  }


  .feature-boxes{
    margin:auto;
    padding:3% 0;
  }


  .feature-icons{
    margin-bottom:1rem;
    color: #ef8172;
  }


  .feature-icons:hover{
    color:#ff4c68;
  }

  .feature-h3{
    font-family:"Montserrat",sans-serif;
    font-size:1.5rem;
    font-weight: 800;
  }


  .feature-para{
    color:#8f8f8f;
    width:70%;
    margin: auto;
    font-weight: 500;
  }


  /* -----------------------------Testimonial Section--------------------- */


    #testimonials{
      background-color:#ef8172;
      color:#fff;
    }


    .carousel-item{
      padding:7% 15%;
    }


    .testimonial-text{
      font-family:"Montserrat",sans-serif;
      font-weight: 700;
      font-size: 3rem;
      line-height:1.5;
    }


    .testimonial-image{
      width:13%;
      border-radius:100%;
      margin: 20px;
    }


    #press{
      background-color: #ef8172;
      padding-bottom:3%;
    }


    .press-logo{
      width:15%;
      padding:20px 20px 50px;
    }


    /* ----------------------------pricing------------------- */


    #pricing{
      padding:100px;
    }


    .pricing-h3{
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
    }


    .pricing-h2{
      font-family: 'Montserrat', sans-serif;
      line-height: 1.5;
      font-size: 3rem;
      font-weight: 900;
    }


    .pricing-para{
      color:#8f8f8f;
      font-weight: 500;
    }


    .pricing-column{
      padding:3% 2%;
    }


    /* -------------------------- cta--------------------------- */


    #cta{
      padding: 7% 15%;
      background-color: #ff4c68;
    }


    /* --------------------- footer --------------------- */


      #footer{
        padding:7% 15%;
        background-color: #fff;
      }


      .footer-icons{
        margin:20px 10px;
      }


      .footer-text{
        font-weight: 500;
      }


      /* --------------------- @media query breakpoints----------------- */

      @media (max-width:1028px) {

        #title{
          text-align: center;
        }


        .title-image{
          position: static;
          transform:rotate(0);
          width:60%;
        }
      }
